@use "../variables"

@import '~bootstrap/scss/bootstrap'

*
    box-sizing: border-box
    margin: 0
    padding: 0

a, button
    &.btn-primary
        background-color: variables.$secondary-bg-color
        border-radius: 60px
        border: 1px solid #FFF8EC
        color: variables.$main-text-color
        padding: 8px 24px
        justify-content: center
        align-items: center

    &.button-submit
        font-size: 22px
        font-style: normal
        font-weight: 400
        max-width: 300px
        padding: 16px 32px
        width: 100%

        &:disabled
            background-color: variables.$secondary-bg-color
            border-radius: 60px
            border: 1px solid #FFF8EC
            color: variables.$main-text-color

        &:hover
            background-color: variables.$secondary-bg-color

nav
    &.navbar-main
        background-color: variables.$secondary-bg-color !important
        .nav-item
            margin-top: 8px
            padding: 16px 24px
            &.dropdown
                margin-top: 0

        .nav-link
            color: variables.$main-text-color !important

    .main-content
        background-color: variables.$main-bg-color
        color: variables.$main-text-color
        font-size: 20px
        font-weight: 300
        padding: 20px 0
