@use "../variables"

#sponsors
    color: variables.$main-text-color
    background-color: variables.$main-bg-color

    .content-wrapper
        background-color: variables.$quaternary-bg-color
        color: variables.$third-text-color
        padding: 60px 0

        .title-sponsors
            font-weight: 600

        .description-sponsors
            font-size: 20px
            font-weight: 400
            line-height: 30px
            margin: 30px 0

        .card-sponsor
            margin: 30px 0
            .badge
                border: 1px solid variables.$black
                border-radius: 60px
                color: variables.$main-text-color
                font-size: 18px
                font-weight: 500
                letter-spacing: 5px
                padding: 10px 20px
                text-transform: uppercase
                &.diamond
                    background-image: linear-gradient(to bottom right, #b9f2ff, #b9f2ff, #b9f2ff)
                    color: variables.$third-text-color
                &.platinum
                    background-image: linear-gradient(to bottom right, #E5E4E2, #E5E4E2, #E5E4E2)
                    color: variables.$third-text-color
                &.gold
                    background-image: linear-gradient(to bottom right, #FFDE8C,#E7B12D, #F6C651,)
                    color: variables.$third-text-color
                &.silver
                    background-image: linear-gradient(to bottom right, #CEE0FB, #8CB6F3, #8CB6F3)
                    color: variables.$third-text-color
                &.bronze
                    background-image: linear-gradient(to bottom right, #FF8C8B, #FF7372, #FF7372)
                    color: variables.$third-text-color

            .separator
                border-top: 1px solid variables.$black
                color: variables.$black

            .sponsor-container
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                padding: 20px 0
                .link-sponsor
                    width: 100%
                    .img-sponsor
                        width: 100%
                        height: auto
